/* google font noto-sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;900&display=swap");

/* Reset CSS Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* Navigation Bar Style */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 999;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

header .nav-content {
  width: 100%;
  max-width: 980px;
}

header .nav-content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-content ul a {
  color: #d5d5d5;
  font-size: 0.75rem;
  line-height: 2.75;
}

header .nav-content ul a:hover {
  color: #fff;
}

header .logo a i,
header .search a i,
header .bag a i {
  font-size: 1.125rem;
}

header .airpod-navbar .nav-content {
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 0 0.75rem;
  align-items: center;
}

header .nav-logo a {
  color: #fefefe;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.5;
}

header .nav-items button {
  color: #fefefe;
  font-size: 0.75rem;
  line-height: 1.375rem;
  margin-left: 1.5rem;
}

header .nav-items button:hover {
  color: #2997ff;
}

header .nav-items button:disabled,
header .nav-items button:disabled:hover {
  color: #bebebe;
  cursor: default;
}

header .nav-items .buy-btn {
  padding: 0 0.75rem 0.2rem;
  background: #147ce5;
  border-radius: 0.75rem;
}

header .nav-items .buy-btn:hover {
  color: #fefefe;
}

/* Common Section Style */
section {
  background: #000;
  color: #f5f5f5;
}

/* Hero Section Style */
.hero-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.ipod-images-wrapper {
  width: 980px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ipod-images-wrapper img {
  width: 100%;
}

.main-elem,
.msg-elem {
  width: max-content; /* 요소의 자식 중 가로가 가장 긴 요소를 기준으로 설정 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-elem h1 {
  font-size: 9.375rem;
}

.main-elem a {
  font-size: 1.375rem;
  font-weight: 700;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.main-elem i {
  font-size: 1.75rem;
}

.msg-elem {
  opacity: 0;
}

.msg-elem p {
  font-size: 4rem;
  font-weight: 700;
  line-height: 68px;
}
